<footer id="footerWrapper" class="footer5">
    <div class="Container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright">Copyright © 2024 <a href="https://nikk-portfolio.vercel.app/">Nikhil Agarwal</a> / All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="social-icons">
                    <li><a class="facebook" href="#" title="follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#" title="follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="instagram" href="#" title="follow us on Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
